.report-details {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.report-details h2 {
  text-align: center;
  margin-bottom: 20px;
}

.report-details p {
  font-size: 16px;
  line-height: 1.6;
}

.report-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.report-detail-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 15px;
}

.source-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #444;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.source-link:hover {
  background-color: #333;
}

.incident-stats-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  background-color: #f8f9fa;
  overflow-x: hidden; /* 禁止滚动条 */
}

.incident-stats-card h3 {
  margin-bottom: 10px;
}

.incident-stats-card table {
  width: 100%; /* 表格填充整个父容器 */
  border-collapse: collapse;
}

.incident-stats-card td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  white-space: normal; /* 允许换行，避免撑开 */
}

/* 让第一列（标题部分）有适当的宽度 */
.incident-stats-card td:first-child {
  font-weight: bold;
  width: 30%; /* 让左侧标题栏占比 30% */
}

.incident-stats-card tr:nth-child(even) {
  background-color: #f2f2f2;
}

.username-link {
  /* color: #007bff; */
  cursor: pointer;
}
.username-link:hover {
  color: #0056b3;
  text-decoration: underline;
}
